@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap'); 
main{
    min-height: 100vh;
    background:linear-gradient(140deg,#1dbde6, #f1515e) ;
}
.container-fluid{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
 .spinner-border{
padding: 50px;
color: white;
 }   
}